<div class="container"style="max-width: 80%">
    <div class="columns is-mobile has-text-centered mt-2 ">
        <div class="column">
           <strong>
            <a class="has-text-grey-lighter" href="/articles">My Articles</a>
           </strong>
        </div>
        <div class="column">
            <strong>
                <a class="has-text-grey-lighter" href="/about">About</a>
            </strong>
        </div>
        <div class="column">
            <strong>
                <a class="has-text-grey-lighter" href="/articles/create">New Article</a>
            </strong>
        </div>
    </div>
</div>
<hr style="color: hsl(171, 100%, 41%)">
