<%- include('./partials/header.ejs') %> 
<%- include('./partials/navbar.ejs') %>

<div class="container">
    <div class="has-text-centered">
        <strong class="is-size-5">
            <p style="margin: 10%; color:crimson;">
                Page Not Found
            </p>
        </strong>
    </div>
</div>

<%- include('./partials/footer.ejs') %> 